# gui close if player dead
public net.minecraft.world.entity.LivingEntity f_20890_ # dead

# style full ctor
public net.minecraft.network.chat.Style <init>(Lnet/minecraft/network/chat/TextColor;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/network/chat/HoverEvent;Ljava/lang/String;Lnet/minecraft/resources/ResourceLocation;)V

# gui graphics overload
public net.minecraft.client.gui.GuiGraphics <init>(Lnet/minecraft/client/Minecraft;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource$BufferSource;)V # <init>
public net.minecraft.client.gui.GuiGraphics f_279544_ # minecraft

# sprite loading
public net.minecraft.server.packs.resources.FallbackResourceManager m_245722_(Lnet/minecraft/server/packs/resources/IoSupplier;)Lnet/minecraft/server/packs/resources/IoSupplier; # convertToMetadata
