# gui close if player dead
public net.minecraft.world.entity.LivingEntity dead

# style full ctor
public net.minecraft.network.chat.Style <init>(Lnet/minecraft/network/chat/TextColor;Ljava/lang/Integer;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/network/chat/HoverEvent;Ljava/lang/String;Lnet/minecraft/network/chat/FontDescription;)V

# gui graphics overload
public net.minecraft.client.gui.GuiGraphicsExtractor <init>(Lnet/minecraft/client/Minecraft;Lorg/joml/Matrix3x2fStack;Lnet/minecraft/client/gui/render/state/GuiRenderState;II)V
public net.minecraft.client.gui.GuiGraphicsExtractor minecraft

# sprite loading
public net.minecraft.server.packs.resources.FallbackResourceManager convertToMetadata(Lnet/minecraft/server/packs/resources/IoSupplier;)Lnet/minecraft/server/packs/resources/IoSupplier;

# cursor
public com.mojang.blaze3d.platform.cursor.CursorType <init>(Ljava/lang/String;J)V
public com.mojang.blaze3d.platform.cursor.CursorType name

# blockstate rendering
public net.minecraft.client.resources.model.ModelBakery modelResources
public net.minecraft.client.resources.model.ModelBakery topLevelModels

# texture atlases
public net.minecraft.client.gui.GuiSpriteManager METADATA_SECTIONS
public net.minecraft.client.resources.TextureAtlasHolder textureAtlas

# vanilla button textures
public net.minecraft.client.gui.components.AbstractButton SPRITES

# out of jar resloc
public-f net.minecraft.resources.Identifier
protected net.minecraft.resources.Identifier <init>(Ljava/lang/String;Ljava/lang/String;)V
