# gui close if player dead
public net.minecraft.world.entity.LivingEntity dead

# style full ctor
public net.minecraft.network.chat.Style <init>(Lnet/minecraft/network/chat/TextColor;Ljava/lang/Integer;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/network/chat/HoverEvent;Ljava/lang/String;Lnet/minecraft/network/chat/FontDescription;)V

# gui graphics overload
public net.minecraft.client.gui.GuiGraphicsExtractor <init>(Lnet/minecraft/client/Minecraft;Lorg/joml/Matrix3x2fStack;Lnet/minecraft/client/renderer/state/gui/GuiRenderState;II)V
public net.minecraft.client.gui.GuiGraphicsExtractor minecraft
public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
public net.minecraft.client.renderer.state.gui.GuiRenderState firstStratumAfterBlur

# sprite loading
public net.minecraft.server.packs.resources.FallbackResourceManager convertToMetadata(Lnet/minecraft/server/packs/resources/IoSupplier;)Lnet/minecraft/server/packs/resources/IoSupplier;

# cursor
public com.mojang.blaze3d.platform.cursor.CursorType <init>(Ljava/lang/String;J)V
public com.mojang.blaze3d.platform.cursor.CursorType name

# vanilla button textures
public net.minecraft.client.gui.components.AbstractButton SPRITES

# out of jar resloc
public-f net.minecraft.resources.Identifier
protected net.minecraft.resources.Identifier <init>(Ljava/lang/String;Ljava/lang/String;)V

# tooltip
public net.minecraft.client.gui.screens.inventory.tooltip.TooltipRenderUtil *
public net.minecraft.client.gui.screens.inventory.tooltip.TooltipRenderUtil *()

# blockstate item renderer
public net.minecraft.client.renderer.item.ItemStackRenderState firstLayer()Lnet.minecraft.client.renderer.item.ItemStackRenderState$LayerRenderState;
public net.minecraft.client.renderer.item.ItemStackRenderState$LayerRenderState itemTransform
public net.minecraft.client.renderer.item.ItemStackRenderState$LayerRenderState localTransform
